<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Atalasoft.dotImage" publicKeyToken="2B02B46F7326F73B" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.2610.18935" newVersion="5.0.2610.18935"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
